<section   class="vbox">

    <section>
        <page-header>
            <main-nav></main-nav>
        </page-header>

        <notification></notification>
        <section class="hbox stretch">

            <section id="content">
                <section class="vbox">
                    <header class="header bg-white b-b b-light">
                        <breadcrumb data="breadcrumb"></breadcrumb>
                    </header>

                    <section  class="scrollable">
                        <div class="wrapper page-wrapper">
                            <div ui-view></div>
                        </div>
                    </section>

                </section>
            </section>


        </section>

    </section>
</section>







