 
        <div class="modal-header">
            <h3 class="modal-title">Záväzok mlčanlivosti pre spoločnosť TNS Slovakia s.r.o.</h3>
        </div>
        <div class="modal-body">
            
            <p> Zaväzujem sa, že všetky informácie, s ktorými sa dostanem do styku v priebehu svojej 
                spolupráce so spoločnosťou TNS Slovakia s.r.o. budem považovať za úplne dôverné a 
                nebudem ich v žiadnom prípade nikomu oznamovať a ďalej akýmkoľvek spôsobom rozširovať.
            </p>

             <p>  Nikoho nebudem informovať ani o priebehu prieskumu.  </p>  

            <p> Tiež sa zaväzujem neposkytovať a nezverejňovať tretím osobám meno klienta. </p> 

             <p> 
               Tento záväzok sa týka všetkých informácií viazaných na online prieskum 
               (znenie otázok, priebeh prieskumu, obsah testovaných materiálov, výsledky a pod.), 
               informácií o klientovi ako aj informácií týkajúcich sa vnútorného chodu firmy.
             </p>

            <p> V prípade preukázateľného porušenia tohto záväzku mlčanlivosti, ktoré by spôsobilo škodu 
                spoločnosti TNS Slovakia s.r.o. sa zaväzujem znášať škodu v rozsahu maximálne vymáhateľnom a 
                zodpovedajúcom Občianskemu zákonníku a Zákonníku práce.
            </p>
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i> Súhlasím</button>
            <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-times"></i> Nesúhlasím</button>
        </div>
 